body {
    padding-top: 60px;
		padding-bottom: 40px;
}

.sidebar-nav {
	padding: 10px 0;
	width: 50.0%
	}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

.form-error {
    color: black;
    background-color: pink;
    font-weight: bold;
    font-size: larger;
}

.pushdown {
    padding: 40px;
}

.navbtn-text {
    color: white;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.navlist {
    list-style-type: none;
    margin-left: 0px;
}

.navlist li {
    margin-top: 1px;
    margin-bottom: 1px;
}

.archived-course {
    background-color: red;
}

.btn-success {
 float: left;
}

a.homepage-nav {
  display: block;
  color: #333333;
}

a.homepage-nav h4{
  text-decoration: underline;
}

a.homepage-nav span{
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6, .navbar .brand{
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.deactivated-user{
  background-color: red;
}

