body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 10px 0;
    width: 50.0%
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: 400px;
}

.form-error {
    color: black;
    background-color: red;
    font-weight: bold;
    font-size: larger;
}

.pushdown {
    padding: 40px;
}

.navbtn-text {
    color: white;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.navlist {
    list-style-type: none;
    margin-left: 0px;
}

.navlist li {
    margin-top: 1px;
    margin-bottom: 1px;
}

.archived-course {
    background-color: red;
}

.btn-success {
    float: left;
}

a.homepage-nav {
    display: block;
    color: #333333;
}

a.homepage-nav h4 {
    text-decoration: underline;
}

a.homepage-nav span {
    font-size: 12px;
    display: block;
}

h1, h2, h3, h4, h5, h6, legend, .navbar .brand {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.deactivated-user {
    background-color: red;
}

#right .btn {
    margin-bottom: 1px;
}

form.center fieldset {
    border: 1px solid #666666;
    box-shadow: 1px 1px 4px #666666;
    border-radius: 100px;
}

input[type="radio"] {
    margin-left: 5px;
    margin-right: 5px;
}

.survey-legend {
    color: #333333;
    font-size: 1em;
    border-top: 1px solid #333333;
}

.survey-legend i {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

.selector-available {
    color: black;
}

.btn-nav {
    margin-bottom: 1px;
}

.description {
    font-style: italic;
}

.standout {
    background-color: #ad1d28;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box-info {
    padding: 6px;
    box-shadow: 0px 0px 6px white;
    border-radius: 4px;
}

.status-good {
    border-radius: 100%;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: #02c002;
    float: left;
    box-shadow: 0 0 6px #02c002;
}

.status-bad {
    border-radius: 100%;
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    background-color: red;
    float: left;
    box-shadow: 0 0 6px red
}

.status-big {
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.status-text {
    font-size: 10px;
    float: right;
}

.status-box {
    box-shadow: 0 0 6px white;
    padding: 10px;
    margin-top: 20px;
}

.status-box h4{
    text-decoration: underline;
}

.status-box .status-good, .status-box .status-bad {
    margin-right: 10px;
}

.status-box .status-text {
    font-size: 14px;
    float: left;
}

/* Boostrap-transfer Overrides */
.bootstrap-transfer-container .selector-available h2, .bootstrap-transfer-container .selector-chosen h2 {
    border-radius: 0px;
}

.bootstrap-transfer-container a.selector-clearall {
    background: none;
}

.bootstrap-transfer-container a.selector-chooseall {
    background: none;
}