div class="row-fluid"
  == partial "/partials/assessment/assessment_nav", locals: {course: course}
  div class="span6" id="center-box"
  button id="#submit-button" onclick="assign_students();" class="btn btn-success" Submit Changes
  javascript: 
    function load_select() {  
      var loc = window.location.pathname;
      $.get(loc, {}, function(t) 
      {
        var t = $("#center-box").bootstrapTransfer();
        var loc2 = window.location.pathname.split('/');
        loc2 = loc2[loc2.length - 1]
        
        $.get('/assessment/all_students/'+loc2+"/out", {}, function(all_students)
        {
          t.populate(all_students);
          $.get('/assessment/all_students/'+loc2+'/in', {}, function(students_in_course)
          {
            $.each(students_in_course, function(i, val) {
              t.set_values([val.value, val.content]);
            });
          });
        });                
      });
    }
    $(load_select);
  javascript:
    function assign_students() {
      $.post('/assessment/assign/1', {"students": $('#center-box').data().bootstrapTransfer.get_values()}, 
      function()
      {  
      
      });
       var loc2 = window.location.pathname.split('/');
       loc2 = loc2[loc2.length - 1]
       window.location.replace('/assessment/studentslist/'+loc2);
        
    }
  
